venv/
__pycache__/
*.pyc
*.pyo
.env
db.sqlite3
data/1_transcript_inbox/
data/2_set_inbox/
data/3_annotated_set_inbox/
data/4_bit_annotated_set_inbox/
data/transcript_todos.jsonl
data/scrape_history.jsonl
data/transcript_archive/
data/audio/
